<div class="center hero-unit">
	<p><%= image_tag("AET.png", alt: "AET") %></p><br />
	<h1>Application for admission</h1><br />
  <h3>AET Online Application Instructions</h3>
  <div style="text-align: left;">
  <ol>
    <li>Click Begin Application Process below</li>
    <li>
      Fill in boxes on the application
        <ul class="fa-ul">
          <li><i class="fa fa-cog"></i>Be sure to choose your high school</li>
          <li><i class="fa fa-cog"></i>Be sure to complete all areas that are marked with an asterisk (*)</li>
          <li><i class="fa fa-cog"></i>If you do not want to provide a cell phone number, please enter your home phone in both phone boxes</li>
        </ul>
    </li>
    <li>
      Submit information
        <ul class="fa-ul">
          <li><i class="fa fa-cog"></i>A confirmation will be sent to the email addresses provided and will contain a link for you to check the status of your application and recommendations. If you do not enter email addresses the application will still be sent to your school or division representative. </li>
          <li><i class="fa fa-cog"></i><strong>Please take care and ensure that the email addresses you enter are correct.</strong></li>
          <li><i class="fa fa-cog"></i><strong>Please only click submit one time.</strong></li>
        </ul>
    </li>
  </ol>
</div>
<br />
<h3><%= link_to "Begin Application Process", new_applicant_path, class: "btn btn-large" %></h3><br />
  <p style="font-size: 11pt">
  If you have problems or questions, please respond via email to:<br /><br />
  John Hatchett<br />
  Coordinator and Engineering Faculty<br />
  Academy for Engineering and Technology<br />
  <a href="mailto:jhatchett@ialr.org">jhatchett@ialr.org</a>
  </p>
</div>
