<div class="center hero-unit">
	<h1>II. AET Overview</h1>
	<br />
	<div class="well well-large text-left">
	<p>
		Rising juniors enrolled within the AET program will have the opportunity to choose between two tracks of study: engineering or technology.  Credits earned within either track are aligned such that they may transfer to ABET accredited universities upon successful completion of the program (see transferability).
	</p>
	<p>
		<strong>Engineering:</strong>&nbsp;&nbsp;Students are exposed to basic design analysis and engineering graphics.  Engineers are team leaders that plan, design and supervise engineering projects from concept to completion.  Engineers solve problems by relying on their creative and academic skills.  The successful student should enjoy problem solving and is challenged by the effort it requires.  Students are required to complete Calculus by the time they graduate from high school.  
	</p>
	<p>
		<strong>Technology:</strong>&nbsp;&nbsp;Students will be introduced to tools and techniques involving manufacturing logistics, SAP (Systems, Applications and Products), engineering graphics, and many other topics that will allow students to earn certificates and experiences that are highly sought after by employers.  Engaging in technology supports working as part of a team focused on completing an operation or task.  Technology majors prepare for practical design and applied use of tools and techniques to manage projects and solve problems.  Students are required to complete Trigonometry by the time they graduate from high school.  <br />
		<em><i class="fa fa-asterisk"></i>&nbsp;<strong>The technology track is not currently offered at IALR.</strong></em>
	</p>
	<p>
		<strong>Experiential Learning:&nbsp;&nbsp;</strong>Along with the academic courses offered with both tracks, students will participate in many experiential learning activities throughout the curriculum to apply their academic knowledge to on-the-job situations.  These include interactions (guest lectures) with individuals in career fields of engineering, technology and advanced manufacturing; exposures to high tech industry through onsite tours; and the opportunity for paid, hands-on internships with industry leaders of Southern Virginia and throughout the Commonwealth of Virginia.
	</p>
	<p>
		Students may apply for an opportunity to participate within the paid NCI Experiential Learning in Technology and Engineering (ELITE) Internship ($1500) and/or Industry Fundamentals ($500).  Interns will be selected based on the criteria provided within the application and the ability to successfully complete a hiring process per the participating employer which may include the following: a background check, aptitude test and drug screening.  This is a competitive process and there are no guarantees that all enrolled AET students will have a paid internship.  If the selected intern cannot pass the employer’s hiring protocol, the intern may be liable for dismissal from the ELITE Internship.  
	</p>
	</div>
	<%= link_to "Continue", requirements_path, class: "btn" %>
</div>
