<div class="center hero-unit">
	<h1>III. Requirements and Checklist</h1>
	<br />
	<div class="well well-large" style="text-align:left;">
		<p>
			<strong>Core Requirements:</strong>&nbsp;&nbsp;Students within the AET program are expected to conduct themselves in a respectable and mature manner and pride themselves in the following ways:
		</p>
		<ul class="fa-ul">
				<li><i class="fa fa-arrow-right"></i>Ability/Interest in hands-on application of classroom learnin</li>
				<li><i class="fa fa-arrow-right"></i>Demonstrates:</li>
					<ul class="fa-ul">
						<li><i class="fa fa-arrow-circle-right"></i>Excellent attendance and conduct</li>
						<li><i class="fa fa-arrow-circle-right"></i>Enthusiasm in learning at the university level</li>
						<li><i class="fa fa-arrow-circle-right"></i>Excellent analytical and communication skills</li>
						<li><i class="fa fa-arrow-circle-right"></i>A focus on note-taking</li>
						<li><i class="fa fa-arrow-circle-right"></i>Ability to be a self-starter</li>
						<li><i class="fa fa-arrow-circle-right"></i>Works well both individually and in group settings</li>
					</ul>
				<li><i class="fa fa-arrow-right"></i>Passion/aptitude for math, problem solving, and technology usage</li>
				<li><i class="fa fa-arrow-right"></i>Self-accountability for college level behavior</li>
		</ul>
		<p>
			Students invited to attend the AET and alternates for each school division's slots are 
			chosen by the school division's Selection Committee based on the above criteria. No review of the 
			Selection Committee's assessment of students is done by the Director or the faculty of the Piedmont 
			AET.
		</p>
	</div>
	<div class="well well-large" style="text-align:left;">
		<p>
			<strong>Application Checklist:</strong>&nbsp;&nbsp;To be considered for enrollment within AET, the following must be completed.  
		</p>
		<ul class="fa-ul">
			<li><i class="fa fa-check-circle"></i>Applicant information</li>
			<li><i class="fa fa-check-circle"></i>Satisfactory scores for math and English on the VPT/PSAT/SAT/ACT or equivalent test(s).</li>
			<li><i class="fa fa-check-circle"></i>Three faculty recommendations (one math, one English, and an additional teacher)</li>
			<li><i class="fa fa-check-circle"></i>Two completed essays</li>
			<li><i class="fa fa-check-circle"></i>Deadline for completed applications is May 1st, 2014.</li>
		</ul>
		<p>Representatives from the school division will select the top applicants.</p>
	</div>
	<%= link_to "Begin Application", new_applicant_path, class: "btn btn-primary" %>
</div>