<% @applicant = Applicant.find(session[:current_applicant])  %>
<div class="center hero-unit">
	<p>
		Thank you for your interest in the <%= link_to "Academy for Engineering and Technology", "https://www.ialr.org/academy-for-engineering-and-technology/" %>.
	</p>
	<p>
		Your application has now been submitted.
	</p>
	<p>
		If you have any questions or concerns about your application, <br />
		please click <%= link_to "here", contact_path %> to find the contact for your school.
	</p>
  <p>DPC applicants are reminded to complete their DCC admission requirements at the following link:<br />
  <%= link_to "DCC Admissions", "https://www.apply.vccs.edu/applications/vccs/apply.html?application_id=4083" %>
  </p>
</div>
