<h1>Enter applicant information</h1>
<div class="row">
  <div class="span8 offset2">
     <p><strong><em>Applications from Carlisle, Martinsville and Henry County students are now being accepted and must be submitted no later than Monday, February 27th, 2017.</em></strong></p>
     <p><strong><em>Applications from Danville and Pittsylvania County are now being accepted and must be submitted no later than Tuesday, January 31st, 2017.</em></strong></p>
  </div>
</div>
<hr>
<div class="row">
	<div class="span8 offset2">
		<%= render 'basic_form' %>
	</div>
</div>
